{% extends 'base5.html' %}
{% block content %}
<html lang="en">
<head>
    {% load static %}
    <title>Missing People Tracker</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container addcase-container">
        <div class="row">
            
            <div class="addcase-form">
                <h3>Upload Missing Person's Information</h3>
                <p>Enter correct information about the missing person</p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                     {{ form.as_p }}
                    <button type="submit">Upload</button>
                  </form>
                  
                  {% if img_obj %}
                    <h3>Succesfully uploaded : {{img_obj.title}}</h3>
                    <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
                  {% endif %}
                  
                  
            </div>
        </div>
    </div> 
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>

{% endblock %}